@model UserSMS

@{
    ViewBag.Title = "Take powerbank";
}

<div class="row">
    @*<div class="col-md-2">
        <div class="position-fixed">
            <br><br>
            @Html.Partial("NavVertical")
        </div>
    </div>*@



    <div class="col-md-10">
        <div class="text-center"><h2>Take powerbank</h2></div>

        <form asp-action="SendSMSCode" asp-controller="User"  asp-route-returnUrl="@Model.ReturnUrl" asp-route-StationId="@Model.StationId">

            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Phone Number</label><br />
                <input autoFocus type="text" asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Password">Password</label><br />
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm">Confirm password</label><br />
                <input asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm"></span>
            </div>*@
            <div class="text-center">
                <div class="btn-group" role="group">
                    <input class="btn btn-dark mr-2" type="submit" Value="Take">
                    <a asp-action="SendCancel" asp-controller="User" class="btn btn-dark" role="button">Cancel</a>
                    @*<button id="BankruptInputButton" onclick="CheckNum(BankruptInput1.value)">Поиск</button><br><br>*@

                </div>
            </div>
            <div>
                @if (@Model.StationId > 0)
                {
                    <a>
                        Station ID:
                    </a>
                    <a>
                        @Html.DisplayFor(Model => Model.StationId)
                    </a>
                }
            </div>
        </form>

    </div>
</div>

