<script src="~/jqwidgets/jqxbuttons.js"></script>
<script src="~/jqwidgets/jqxscrollbar.js"></script>
<script src="~/jqwidgets/jqxgrid.js"></script>
<script src="~/jqwidgets/jqxgrid.edit.js"></script>
<script src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
<script src="~/jqwidgets/jqxgrid.filter.js"></script>
<script src="~/jqwidgets/jqxgrid.selection.js"></script>
<script src="~/jqwidgets/jqxgrid.sort.js"></script>
<script src="~/jqwidgets/jqxgrid.pager.js"></script>
<script src="~/jqwidgets/jqxgrid.aggregates.js"></script>
<script src="~/jqwidgets/jqxgrid.grouping.js"></script>
<script src="~/jqwidgets/jqxmenu.js"></script>
<script src="~/jqwidgets/jqxlistbox.js"></script>
<script src="~/jqwidgets/jqxdropdownlist.js"></script>
<script src="~/jqwidgets/jqxwindow.js"></script>
<script src="~/jqwidgets/jqxcore.js"></script>
<script src="~/jqwidgets/jqxdata.js"></script>
<script src="~/jqwidgets/jqxdraw.js"></script>
<script src="~/jqwidgets/jqxchart.core.js"></script>
<script src="~/jqwidgets/jqxchart.rangeselector.js"></script>



<meta name="keywords" content="jQuery Window, Window Widget, Window" />
<link rel="stylesheet" href="~/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="~/jqwidgets/styles/jqx.material-purple.css" type="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 minimum-scale=1" />

@{
    ViewData["Title"] = "Servers";
}

@section scripts
{
    <script type="text/javascript">
        function GoToDetails(Id) {

            if (serverIP == null)
                return;

            $.ajax({
                type: "POST",
                // url: '@Url.Action("GoToDetails", "Servers")',
                url: '@Url.Action("SetFilter", "Devices")',
                contentType: 'application/json',
                data: JSON.stringify({
                    // ServerIP: serverIP
                    Filter: Id
                }),
                success: function () {
                    //location.href = document.location.origin + '@Url.Action("ServerDetails", "ServerDetails")';
                    location.href = document.location.origin + '@Url.Action("Devices", "Devices")';
                }
            });
        }
        function Confirm(title, message, hint, server, container, controller, method) {

            var confirm = '<div class="modal fade" tabindex="-1" id="confirm" aria-labelledby="modal-head">' +
                '<div class="modal-dialog">' +
                '<div class="modal-content">' +
                '<div class="modal-header">' +
                '<h5 class="modal-title" id="modal-head">' +
                decodeURIComponent(title) +
                '</h5>' +
                '<button type="button" class="close" data-dismiss="modal">&times;</button>' +
                '</div>' +
                '<div class="modal-body">' +
                '<span id="modal-body">' +
                decodeURIComponent(message) +
                '</span>' +
                '<p class="text-secondary" id="modal-desc"><small>' +
                decodeURIComponent(hint) +
                '</small></p>' +
                '<p class="text-secondary" id="modal-dcont"></p>' +
                '</div>' +
                '<div class="modal-footer">' +
                '<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>' +
                '<input class="btn btn-primary" id="yesButt" value="Yes" />' +
                '</form>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>';

            var thisConfirm = $(confirm).clone();
            $('body').append(thisConfirm);
            $(thisConfirm).modal('show');
            $('#yesButt').on('click',
                () => {
                    $.ajax({ //Do an ajax post to the controller
                        type: 'POST',
                        url: '/' + controller + '/' + method,
                        dataType: 'json',
                        data: JSON.stringify({
                                Server: decodeURIComponent(server),
                                Container: decodeURIComponent(container)
                            }
                        ),

                        contentType: 'application/json',
                        success: function(response) {

                            var strData = JSON.stringify(Data,
                                function(key, value) {
                                    if (value && typeof value === 'object') {
                                        var replacement = {};
                                        for (var k in value) {
                                            if (Object.hasOwnProperty.call(value, k)) {
                                                replacement[k && k.charAt(0).toUpperCase() + k.substring(1)] = value[k];
                                            }
                                        }
                                        return replacement;
                                    }
                                    return value;
                                });
                            //window.location.reload();
                            //console.log(response.responseText);
                        },
                        error: function(response) {
                            console.log('Fail');
                            console.log(response.responseText);
                        }


                    });
                    $(thisConfirm).modal('hide');
                });


            $(thisConfirm).on('hidden.bs.modal',
                function(e) {
                    $(this).remove();
                });

        }


        function cellsrenderer(row, column, value) {
            var jsonmod = source.localdata;
            var backcolor = "#FFFFFF";
            var text = value;

            // Soft red for disconnected
            if ((jsonmod[row].Connected !== null) && (jsonmod[row].Connected == false)) {
                backcolor = "#FEE2E2";
            }
            var divstartstyle = "<div style='height: 100%; min-height: 40px; width: 100%; background: " + backcolor + "; display: flex; align-items: center; padding: 0 8px;'>";
           


            // if ((jsonmod[row].Connected !== null) && (jsonmod[row].Connected == false)) {

            //     if (column === 'Host') {
            //         // MergerColspan(row, column);
            //         return divstartstyle +
            //             "<span style='margin-top: 5px; margin-left: 10px; position: absolute;'>" +
            //             value +
            //             "<br>" +
            //             "</span>" +
            //             "</div>";
            //     }

            //     if (column === 'Port') {
            //         // MergerColspan(row, column);
            //         return divstartstyle +
            //             "<span style='margin-top: 5px; margin-left: 10px; position: absolute;'>" +
            //             value +
            //             "<br>" +
            //             "</span>" +
            //             "</div>";
            //     }
            //     if (column === 'Error') {
            //         // MergerColspan(row, column);
            //         return divstartstyle +
            //             "<span style='margin-top: 5px; margin-left: 10px; position: absolute;'>" +
            //             value +
            //             "<br>" +
            //             "</span>" +
            //             "</div>";
            //     }
            //     if (column === 'ReconnectTime') {
            //         // MergerColspan(row, column);
            //         return divstartstyle +
            //             "<span style='margin-top: 5px; margin-left: 10px; position: absolute;'>" +
            //             value +
            //             "<br>" +
            //             "</span>" +
            //             "</div>";
            //     }
            //     if (column === 'ConnectTime') {
            //         // MergerColspan(row, column);
            //         return divstartstyle +
            //             "<span style='margin-top: 5px; margin-left: 10px; position: absolute;'>" +
            //             value +
            //             "<br>" +
            //             "</span>" +
            //             "</div>";
            //     }
            //     if (column === 'DisconnectTime') {
            //         // MergerColspan(row, column);
            //         return divstartstyle +
            //             "<span style='margin-top: 5px; margin-left: 10px; position: absolute;'>" +
            //             value +
            //             "<br>" +
            //             "</span>" +
            //             "</div>";
            //     }


            //     return divstartstyle;
            // }


            // Host column as button
            if (column === 'Host') {
                return divstartstyle +
                    "<button class='btn-grid btn-grid-primary' " +
                    "onclick=\"GoToDetails('" + jsonmod[row].Host + ":" + jsonmod[row].Port + "')\">" +
                    jsonmod[row].Host + ":" + jsonmod[row].Port +
                    "</button>" +
                    "</div>";
            }

            // Connected status
            if (column === 'Connected') {
                var circleClass = value ? 'green' : 'red';
                return divstartstyle +
                    "<span class='status-circle " + circleClass + "' title='" + (value ? 'Connected' : 'Disconnected') + "'></span>" +
                    "</div>";
            }

            // Device counts - show online / total
            if (column === 'DevicesCount') {
                var online = jsonmod[row].OnlineDevicesCount || 0;
                var total = value || 0;
                var color = online > 0 ? '#10B981' : '#6B7280';
                return divstartstyle +
                    "<span style='font-weight: 600; font-size: 1rem;'>" +
                    "<span style='color: " + color + ";'>" + online + "</span>" +
                    "<span style='color: #9CA3AF;'> / " + total + "</span>" +
                    "</span></div>";
            }

            // Error column
            if (column === 'Error') {
                if (value && value.length > 0) {
                    return divstartstyle +
                        "<span style='font-size: 0.8rem; color: #DC2626;'>" + value + "</span>" +
                        "</div>";
                }
                return divstartstyle + "</div>";
            }

            // Date columns
            if (column === 'ConnectTime' || column === 'DisconnectTime') {
                if (!value) return divstartstyle + "<span style='color: #9CA3AF;'>-</span></div>";
                var date = new Date(value);
                if (date.getFullYear() < 2000) return divstartstyle + "<span style='color: #9CA3AF;'>-</span></div>";
                var formatted = date.toLocaleDateString() + ' ' + date.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
                return divstartstyle +
                    "<span style='font-size: 0.8rem; color: #6B7280;'>" + formatted + "</span>" +
                    "</div>";
            }

            // Default
            return divstartstyle +
                "<span style='font-size: 0.85rem;'>" + value + "</span>" +
                "</div>";
        }


        function refresh() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Refresh", "Servers")',
                contentType: 'application/json',
                data: JSON.stringify({ cnt: 0 }),
                success: function(Data) {
                    var strData = JSON.stringify(Data,
                        function(key, value) {
                            if (value && typeof value === 'object') {
                                var replacement = {};
                                for (var k in value) {
                                    if (Object.hasOwnProperty.call(value, k)) {
                                        replacement[k && k.charAt(0).toUpperCase() + k.substring(1)] = value[k];
                                    }
                                }
                                return replacement;
                            }
                            return value;
                        });
                    source.localdata = Data;
                    if (!newdata) {
                        $("#jqxgrid").jqxGrid({ source: source });
                        newdata = true;
                    }

                    //
                    //$("#jqxgrid").trigger('reloadGrid');
                    //$("#jqxgrid").jqxGrid('refresh');
                    $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
                    //$("#jqxgrid").jqxGrid('updatebounddata', 'filter');
                    //alert('x');
                }
            });
        }


        function sleep(milliseconds) {
            const date = Date.now();
            let currentDate = null;
            do {
                currentDate = Date.now();
            } while (currentDate - date < milliseconds);
        }


        var minDateVal = null;
        var maxDateVal = null;
        var serverData;
        var newdata = false;
        var prevChartData = "";
        var grid = $("#jqxgrid"),
            intervalId = setInterval(refresh, 3000);

        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'Host', type: 'string' },
                { name: 'Port', type: 'number' },
                { name: 'Error', type: 'string' },
                { name: 'Connected', type: 'boolean' },
                { name: 'DevicesCount', type: 'number' },
                { name: 'OnlineDevicesCount', type: 'number' },
                { name: 'NotAuthDevicesCount', type: 'number' },
                { name: 'ReconnectTime', type: 'number' },
                { name: 'ConnectTime', type: 'string' },
                { name: 'DisconnectTime', type: 'string' },
            ]

        };


        var dataAdapter = new $.jqx.dataAdapter(source);


        $(document).ready(function() {


            $("#jqxgrid").jqxGrid(
                {
                    width: '100%',
                    source: dataAdapter,
                    theme: 'material-purple',
                    sortable: true,
                    filterable: true,
                    //showfilterrow: true,
                    //autorowheight: true,
                    rowsheight: 44,
                    autorowheight: true,
                    //autoheight: true,
                    pageable: true,
                    height: 720,
                    columnsresize: true,
                    columns: [
                        { text: "Host name", datafield: "Host", width: "22%", cellsrenderer: cellsrenderer },
                        { text: "Connected", datafield: "Connected", width: "8%", cellsrenderer: cellsrenderer },
                        { text: "Error", datafield: "Error", width: "12%", cellsrenderer: cellsrenderer },
                        { text: "Stations (online/total)", datafield: "DevicesCount", width: "12%", cellsrenderer: cellsrenderer },
                        { text: "Reconnect, s", datafield: "ReconnectTime", width: "10%", cellsrenderer: cellsrenderer },
                        { text: "Last connected", datafield: "ConnectTime", width: "16%", cellsrenderer: cellsrenderer },
                        { text: "Last disconnected", datafield: "DisconnectTime", width: "16%", cellsrenderer: cellsrenderer },
                     ]
                });
            refresh();
            _createWindow();
            $("#jqxWidget").css('display', 'block');


        });


        function addElement(parentId, elementTag, elementId, html) {
            // Adds an element to the document
            var p = document.getElementById(parentId);
            var newElement = document.createElement(elementTag);
            newElement.setAttribute('id', elementId);
            newElement.innerHTML = html;
            p.appendChild(newElement);
        }

        function removeElement(elementId) {
            // Removes an element from the document
            var element = document.getElementById(elementId);
            element.parentNode.removeChild(element);
        }

        function _createWindow() {
            var jqxWidget = $('#jqxWidget');
            var offset = jqxWidget.offset();
            $('#chartWindow').jqxWindow({
                position: { x: offset.left + 50, y: offset.top + 50 },
                showCollapseButton: true,
                maxHeight: 600,
                maxWidth: 900,
                minHeight: 200,
                minWidth: 400,
                height: 600,
                width: 900,
                initContent: function() {
                    //$('#tab').jqxTabs({ height: '100%', width:  '100%' });
                    $('#chartWindow').jqxWindow('focus');
                },
                autoOpen: false
            });


            // $('#chartWindow').jqxWindow('close');
        };

    </script>

    }



    <body class="default">
    <div id="jqxWidget">
        <div style="display: none; width: 100%; height: 650px; margin-top: 50px;" id="mainWinContainer">
            <div id="chartWindow">

                <div id="windowHeader">
                    <span>
                        Chart
                    </span>
                </div>

            </div>
        </div>
    </div>
    </body>



    <style>
        .disable {
            pointer-events: none;
            background: #ccc;
        }

        .yellow {
            background: orange;
            border-color: orange;
        }

        .redCircle {
            width: 24px;
            height: 24px;
            background: red;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        .greenCircle {
            width: 24px;
            height: 24px;
            background: green;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
        }


        /* Preloader */

        #p_prldr {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: #0066FF;
            z-index: 30;
        }

        .contpre small {
            font-size: 20px;
            line-height: 24px;
        }

        .contpre {
            width: 250px;
            height: 100px;
            position: absolute;
            left: 50%;
            top: 48%;
            margin-left: -125px;
            margin-top: -75px;
            color: #fff;
            font-size: 32px;
            text-align: center;
            line-height: 36px;
        }

        #p_prldr .svg_anm {
            position: absolute;
            width: 41px;
            height: 41px;
            background: url(/images/tail-spin.svg) center center no-repeat;
            background-size: 41px;
            margin: -16px 0 0 -16px;
        }     
    </style>



<div class="page-header">
    <h1><i class="fas fa-server"></i> Servers</h1>
    <p class="page-subtitle">MQTT servers hosting charging stations</p>
</div>

<div class="grid-container">
    <div id="jqxgrid"></div>
</div>


